---
const { text, href, color, iconSrc } = Astro.props;

const lightStyle = {
  backgroundColor: "white",
  color: "rgba(24, 171, 184, 1)",
  border: "1px solid rgba(24, 171, 184, 1)",
};
const darkStyle = {
  backgroundColor: "rgba(24, 171, 184, 1)",
  background: "linear-gradient(0deg, var(--Ideas-Teal, #028493) 0%, #0E98B9 100%)",
  color: "white",
};
const buttonStyle = color === "light" ? lightStyle : darkStyle;
---

<a
  style={buttonStyle}
  class={`flex items-center justify-center gap-2 ${color === "light" ? "light-style" : "dark-style"}`}
  href={href}
  target={href.startsWith("http") ? "_blank" : "_self"}
>
  {text}
  <img src={iconSrc.src} class="w-5 h-5" />
</a>

<style scoped>
  a {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
  }
</style>
