---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link href="/src/styles/global.css" rel="stylesheet" />
    <title>Ideas Challenge</title>
  </head>
  <body>
    <main>
      <Navbar />
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
