<footer>
  <p>Policies, Rights, and Legal</p>
  <div class="grid grid-cols-4 gap-4 container mx-auto">
    <a href="https://www.usa.gov/">USA.gov</a>
    <a href="https://www.transportation.gov/dot-website-privacy-policy">Privacy Policy</a>
    <a href="https://www.transportation.gov/foia">FOIA</a>
    <a href="https://www.transportation.gov/budget">Budget and Performance</a>
    <a href="https://www.transportation.gov/vulnerability-disclosure-policy">Vulnerability Disclosure Policy</a>
    <a
      href="https://www.transportation.gov/mission/civil-rights/elijah-e-cummings-federal-employee-antidiscrimination-act-2020-agency-report"
    >
      Cummings Act Notices
    </a>
    <a href="https://www.transportation.gov/ethics">Ethics</a>
    <a href="https://www.transportation.gov/web-policies">Web Policies and Notices</a>
    <a href="https://www.transportation.gov/civil-rights/civil-rights-awareness-enforcement/no-fear-act">No FEAR Act</a>
    <a
      href="https://www.transportation.gov/mission/office-secretary/office-chief-information-officer/digital-accessibility-statement"
    >
      Digital Accessibility
    </a>
  </div>
  <p>
    Looking for U.S. government information and services? <span><a href="https://www.usa.gov/">Visit USA.gov</a></span>
  </p>
  <style scoped lang="scss">
    footer {
      background-color: black;
      color: white;
    }

    a {
      color: gray;
      text-decoration: underline;
    }
  </style>
</footer>
