<footer>
  <div class="w-full xl:max-w-5xl mx-auto p-7 text-md">
    <p class="font-medium mb-2">Policies, Rights, and Legal</p>
    <div class="grid grid-cols-4">
      <a href="https://www.usa.gov/">USA.gov</a>
      <a href="https://www.transportation.gov/dot-website-privacy-policy">Privacy Policy</a>
      <a href="https://www.transportation.gov/foia">FOIA</a>
      <a href="https://www.transportation.gov/budget">Budget and Performance</a>
      <a href="https://www.transportation.gov/vulnerability-disclosure-policy">Vulnerability Disclosure Policy</a>
      <a
        href="https://www.transportation.gov/mission/civil-rights/elijah-e-cummings-federal-employee-antidiscrimination-act-2020-agency-report"
      >
        Cummings Act Notices
      </a>
      <a href="https://www.transportation.gov/ethics">Ethics</a>
      <a href="https://www.transportation.gov/web-policies">Web Policies and Notices</a>
      <a href="https://www.transportation.gov/civil-rights/civil-rights-awareness-enforcement/no-fear-act">
        No FEAR Act
      </a>
      <a
        href="https://www.transportation.gov/mission/office-secretary/office-chief-information-officer/digital-accessibility-statement"
      >
        Digital Accessibility
      </a>
    </div>
    <p class="mt-2 font-small">
      Looking for U.S. government information and services? <span>
        <a href="https://www.usa.gov/">Visit USA.gov</a>
      </span>
    </p>
  </div>
  <style scoped lang="scss">
    footer {
      background-color: rgb(24, 24, 24);
      color: white;
    }

    a {
      color: rgb(166, 164, 164);
      text-decoration: underline;
      text-underline-offset: 3px;
      padding: 0.3rem 0;
    }

    p a {
      color: white;
      font-weight: 600;
    }
  </style>
</footer>
