---
import Logo from './src/assets/logos/Ideas-challenge-logo-header.svg'
---
<header class="sticky top-0 bg-white shadow-md hidden sm:block">
<nav class="flex items-center justify-center md:justify-between p-4 bg-white text-gray-900 md:container mx-auto sticky z-50">
    <a href="#"><Logo /></a>
  <ul class="menu-items hidden lg:flex gap-6">
    <li><a href="#about">About</a></li>
    <li><a href="#thrust-areas">Strategic Thrust Areas</a></li>
    <li><a href="#heilmeier">Heilmeier Questions</a></li>
    <li><a href="#Apply">Apply</a></li>
  </ul>
</nav>
</header>

<style scoped lang="scss">

.menu-items a {
 color:#565c65;
 font-weight: bold;
 padding: 1em 0;
}

.menu-items a:hover{
  color: #028493;
}
</style>
