<nav class="flex items-center justify-between p-4 bg-white text-gray-900 container mx-auto">
  <div>
    <img src="/images/rocket.png" alt="" class="max-w-10 h-auto" />
    <p>Ideas Challenge</p>
  </div>
  <p>About</p>
  <p>Strategic Thrust Areas</p>
  <p>Heilmeier Questions</p>
  <p>Apply</p>
</nav>

<style scoped lang="scss"></style>
